.output {
display: none;
}
.input-group {
  margin: 5px;
}
.negBalance{
  color:red;
}
.moe{
  display: none;
}
.biggie{
  height:200px;
  border-radius: 100%;
}
body{
  background-color: coral;
}
.main-header{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 10px;
}
.main-header h2{
  text-align: center;
}
